﻿/*///////////////*/
/* normalize css */
/*///////////////*/

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

a {
    text-decoration: none;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

    /**
 * Remove the inner border and padding in Firefox.
 */

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    /**
 * Restore the focus styles unset by the previous rule.
 */

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

    /**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}


/*/////*/
/* css */
/*/////*/

/*/////////*/
/* generals */
/*/////////*/
html {
    overflow-x: hidden;
}

body {
    background-color: #171717;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}

/*////////*/
/* fonts */
/*//////*/
@font-face {
    font-family: coolvetica;
    src: url('coolveticaRgKit/coolvetica_rg-webfont.eot'); /* IE9 Compat Modes */
    src: url('coolveticaRgKit/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('coolveticaRgKit/coolvetica_rg-webfont.woff') format('woff'), /* Modern Browsers */
    url('coolveticaRgKit/coolvetica_rg-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('coolveticaRgKit/coolvetica_rg-webfont.svg#coolvetica_rg-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: loveloB;
    src: url('loveloBKit/lovelo_black-webfont.eot'); /* IE9 Compat Modes */
    src: url('loveloBKit/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('loveloBKit/lovelo_black-webfont.woff') format('woff'), /* Modern Browsers */
    url('loveloBKit/lovelo_black-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('loveloBKit/lovelo_black-webfont.svg#lovelo_black-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'loveloLB';
    src: url('loveloLBKit/lovelo_line_bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('loveloLBKit/lovelo_line_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('loveloLBKit/lovelo_line_bold-webfont.woff') format('woff'), /* Modern Browsers */
    url('loveloLBKit/lovelo_line_bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('loveloLBKit/lovelo_line_bold-webfont.svg#lovelo_line_bold-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'loveloLL';
    src: url('loveloLLKit/lovelo_line_light-webfont.eot'); /* IE9 Compat Modes */
    src: url('loveloLLKit/lovelo_line_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('loveloLLKit/lovelo_line_light-webfont.woff') format('woff'), /* Modern Browsers */
    url('loveloLLKit/lovelo_line_light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('loveloLLKit/lovelo_line_light-webfont.svg#lovelo_line_light-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'robotoL';
    src: url('robotoLKit/roboto_light-webfont.eot'); /* IE9 Compat Modes */
    src: url('robotoLKit/roboto_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('robotoLKit/roboto_light-webfont.woff') format('woff'), /* Modern Browsers */
    url('robotoLKit/roboto_light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('robotoLKit/roboto_light-webfont.svg#roboto_light-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'robotoC';
    src: url('robotoCKit/roboto_condensed-webfont.eot'); /* IE9 Compat Modes */
    src: url('robotoCKit/roboto_condensed-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('robotoCKit/roboto_condensed-webfont.woff') format('woff'), /* Modern Browsers */
    url('robotoCKit/roboto_condensed-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('robotoCKit/roboto_condensed-webfont.svg#roboto_condensed-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'robotoB';
    src: url('robotoBKit/roboto_black-webfont.eot'); /* IE9 Compat Modes */
    src: url('robotoBKit/roboto_black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('robotoBKit/roboto_black-webfont.woff') format('woff'), /* Modern Browsers */
    url('robotoBKit/roboto_black-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('robotoBKit/roboto_black-webfont.svg#roboto_black-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'robotoR';
    src: url('robotoRKit/roboto_regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('robotoRKit/roboto_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('robotoRKit/roboto_regular-webfont.woff') format('woff'), /* Modern Browsers */
    url('robotoRKit/roboto_regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('robotoRKit/roboto_regular-webfont.svg#roboto_regular-webfont') format('svg'); /* Legacy iOS */
}

/*//////////////*/
/* placeholders */
/*//////////////*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #898989;
    font-variant: small-caps;
}

:-moz-placeholder { /* Firefox 4-18 */
    color: #898989;
    font-variant: small-caps;
    opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #898989;
    font-variant: small-caps;
    opacity: 1;
}

:-ms-input-placeholder { /* IE 10-11 */
    color: #898989;
    font-variant: small-caps;
}

::-ms-input-placeholder { /* Edge */
    color: #898989;
    font-variant: small-caps;
}

::placeholder { /* Modern browsers */
    color: #898989;
    font-variant: small-caps;
}

/*//////////////////////////*/
/* main flexbox containers */
/*////////////////////////*/
#topMenuContainer {
    display: flex;
    position: fixed;
    width: 100%;
    height: 167px;
    background-color: #171717;
    z-index: 2;
}

#homePageMain {
    display: flex;
    justify-content: center;
}

#ourWorkPageContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 200px 0 0 0;
    padding: 20px 0 0 0;
}

#simulatorPageContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 150px 0 0 0;
    margin: 0 0 310px 0;
    position: relative;
}

#contactPageContainer {
    display: flex;
    width: 70.7%;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}

/*///////////*/
/* top menu */
/*/////////*/
#topMenu {
    flex: 0 0 57%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.topMenuSubContainer {
    width: auto;
    margin: 3% 5% 0 5%;
}

#topMenu > div > h2 > a:link {
    color: white;
    text-decoration: none;
    font-family: robotoL;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2vw;
}

#topMenu > div > h2 > a:visited {
    color: white;
    text-decoration: none;
    font-family: robotoL;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2vw;
}

#topMenu > div > h2 > a:hover {
    color: #e63e3d;
    text-decoration: none;
    font-family: robotoL;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2vw;
}

#topMenu > div > h2 > a:active {
    color: white;
    text-decoration: none;
    font-family: robotoL;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2vw;
}

#topMenu > div > h2 {
    margin: 3% 0 0 0;
}

.TopMenuUnderline {
    height: 1px;
    margin: auto;
    background-color: white;
}

#homeMenuLine {
    width: 100%;
}
#workMenuLine {
    width: 0%;
}
#simulatorMenuLine {
    width: 0%;
}
#contactMenuLine {
    width: 0%;
}

/*////////////////*/
/* general fonts */
/*//////////////*/
h2 {
    font-family: loveloB;
    font-weight: normal;
    color: white;
}

h3, h5 {
    font-family: loveloLL;
    font-weight: normal;
    color: white;
}

.redButton {
    font-family: loveloLB;
    font-weight: normal;
    color: #151515;
    background-color: #e63e3d;
}

.ourWorkSwitch {
    font-family: loveloB;
    font-weight: normal;
    color: #000000;
}

/*/////////////*/
/* loadingPage */
/*/////////////*/
#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #171717;
    z-index: 99;
    display: flex;
    align-items: center;
}

#centerLoadingPage {
    width: auto;
    top: 50%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#titreLoadingPage {
    text-align: center;
    font-family: loveloB;
    font-size : 7vw;
    line-height: 0;
    color: white;
    margin-bottom : 4.4%;
}

#loadingUnderline {
    background-color : white;
    height: 1px;
    margin-bottom: -.3%;
}

#centerLoadingPage > p {
    text-align: center;
    color: white;
    font-family: robotoR;
    text-transform: uppercase;
    font-size: calc(5px + 1.4vw);
    line-height: 0;
}

/*/////////////////*/
/* title homePage */
/*///////////////*/
#leftSideHome {
    flex: 0 0 57%;
    text-align: center;
    position: relative;
}

#rightSideHome {
    flex: 0 0 43%;
    justify-content: center;
    z-index: 3
}

#titleHomePage {
    width: 100%;
    padding: 43% 0 0 0;
    position:relative;
}

#whoAreWePage {
    display: none;
    margin: -1.8% 0 -4.65% 0;
    opacity: 0;
    text-align: left;
    width: 100%;
    padding: 0%;
    position: relative;
    top: 22%;
    text-align: center;
}

#WAWsubContainer1 {
    width: 70%;
    margin: auto;
}

#homePageMain > h2 {
    margin: 0px;
}

.baseline {
    color: white;
    font-family: loveloLL;
    font-weight: normal;
    font-size: 2.03vw;
    padding: 0px;
    margin: 0px;
}

.up {
    line-height: 1.23;
}

.down {
    line-height: 1.15;
}

#unCollectif {
    font-size: 1.8vw;
    position:relative;
    right: 23.5%;
}

#lesSales {
    color: white;
    font-family: loveloB;
    font-weight: normal;
    font-size: 3.92vw;
    padding: 0px;
    margin: 0px;
    line-height: 0.7;
}

.redTitle {
    color: #e63e3d;
    font-weight: normal;
}

#whoAreWeLink {
    padding: 0px;
    position: absolute;
    left: 66.8%;
    bottom: -13.2%;
}

#linkToPresentation {
    color: #e63e3d;
    padding: 0px;
    margin: 0px;
    display: inline;
    position: relative;
    right: 12%;
    font-family: loveloLL;
    font-weight: normal;
    text-decoration: none;
    font-size: 0.9vw;
}

#rightNavArrow {
    width: 28%;
    height: auto;
    max-width: 100%;
    position: relative;
    left: 35.7%;
}

#WAWbar1 {
    width: 17%;
    height: auto;
    max-width: 100%;
    margin: 0 0 0 0;
}

#homePageleftArrow1 {
    width: 6.25%;
    height: auto;
    max-width: 100%;
    position: relative;
    left: 8.8%;
}

#goDownButtonHomePage {
    position: absolute;
    width: 2.7%;
    top: 81%;
    height: auto;
}

.imgCamRight {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin:0px;
}

.navArrow {
    width: 6.25%;
    height: auto;
    max-width: 100%;
    position: relative;
    left: 8.8%;
}

#mainLink {
    padding: 0px;
    display: block;
    position: relative;
    margin-bottom: 11.1%;
}

#leftNavArrow {
    width: 8.5%;
    height: auto;
    max-width: 100%;
    position: absolute;
    left: -2%;
    top:85%;
}

#paragraphWaw {
    padding: 0px;
    margin: 8% 0 9% 0;
    position: relative;
    font-family: robotoC;
    text-align: justify;
    color: white;
    font-size: 1.2vw;
    line-height: 1.2;
    letter-spacing: 0.01vw;
}

#paragraphWaw > p > strong {
    font-weight: normal;
}

#goMainButton {
    font-size: 1.8vw;
    width: 57%;
    margin: 0px;
    padding: 0.5% 0 0.3% 0;
    line-height: 1.1;
}

/*////////////////*/
/* our work page */
/*//////////////*/
#ArrowsInf900px {
    display: none;
}

#ourWorkViewerSideContainer {
    flex: 0 0 50%;
    justify-content: center;
    text-align: center;
    margin: 17% 0 0 2.5%;
}

#ourWorkTitle > h2 {
    font-size: 3.8vw;
    text-align: center;
    margin: -17% 0 0 0;
    line-height: 0.7;
}

#ourWorkTitle > h3 {
    font-size: 1.8vw;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 50%;
}

#videoPlayer {
    width: 100%;
    height: auto;
    margin: 0 0 -10% 0;
}

#playButton {
    max-width: 8.64%;
    height: auto;
    margin: 0 2% 7% 41%;
    opacity: 0.5;
    visibility: hidden;
}

#pauseButton {
    max-width: 3%;
    height: auto;
    margin: 0 41% 7% 2%;
    opacity: 0.5;
    visibility: hidden;
}

#arrowsWebPlayer {
    width:100%;
    height:122%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#simuPageDownArrow, #simuPageUpArrow {
    max-width: 3.125%;
    height: auto;
}

#simuPageDownArrow {
    margin: 0 -0.6% 0 0;
}

#simuPageUpArrow {
    margin: 0 0 0 -0.6%;
}

#ourWorkSwitchContainer {
    flex: 0 0 13.3%;
    text-align: center;
}

.ourWorkSwitch {
    font-size: 2.7vw;
    margin: 0;
}

#videoSwitch {
    color: #e63e3d;
}

#webSwitch {
    margin-top: 35%;
}

#ourWorkSwitchVideoLine {
    width: 100%;
    background-color: white;
    height: 1px;
    margin: auto;
}

#ourWorkSwitchWebLine {
    width: 0%;
    background-color: white;
    height: 1px;
    margin: auto;
}

.showreelSwitchSubContainer {
    display: inline-block;
}

#ourWorkVignettesContainer {
    flex: 0 0 34.1%;
    z-index: 3;
}

.videoContainer {
    position: relative;
    width: 80%;
}

.videoContainer > h5 {
    position: absolute;
    z-index: 1;
    font-size: 1.8vw;
    text-align: left;
    left: 3%;
    bottom: -6.5%;
    opacity: 0;
}

#videoPlayer {
    display: block;
    padding: 56.25% 0 0 0;
    position: relative;
}

#webPicturesContainer {
    opacity: 0;
    display: none;
    position: relative;
}

#webWitness11 {
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0 0 -10.4% 0;
    position: relative;
}

.vignette {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
}

.cache {
    position: absolute;
    left: 0%;
    top : 0%;
    z-index:5;
}

#vignetteCache1 {
    opacity: 0.6;
}

#vignetteCache2 {
    opacity: 0.6;
}

#vignetteCache3 {
    opacity: 0.4;
}

#vignetteCache4 {
    opacity: 0.7;
}

#vignettesScrollBar {
    width: 1.8%;
    height: auto;
    position: relative;
    bottom: 30%;
    display: none;
}

/*////////////////*/
/* simulator page */
/*////////////////*/
#simulatorTitle {
    flex: 0 0 100%;
    padding: 20px 0 0px 0;
    margin-bottom: -20px;
}

#simulatorTitle > h2 {
    font-size: 3.8vw;
    text-align: center;
    margin: 0px;
    line-height: 0.7;
}

#simulatorTitle > h3 {
    font-size: 1.8vw;
    margin: 0;
    padding: 0;
    position: relative;
    left: 10.5%;
}

#simulatorSubContainer {
    width: 100%;
    margin: auto;
    display:flex;
}

#simuNoticeContainer {
    width: 100%;
    margin: auto;
    display: inline-block;
}

#simuNoticeBackContainer {
    width: 19.5%;
    height: 0;
    padding-top: 20%;
    position: absolute;
    margin: auto;
    display: inline-block;
    top: 45.4%;
    left: 3.5%;
}

#simuNoticeBack {
    position: absolute;
    top: 0;
    left: 0;
}

#simuNoticeTextAndButtonContainer {
    position: absolute;
    top: 0;
    width: 90.6%;
    display: block;
    margin: 10.5% 0 0 4.7%;
    z-index: 1;
}

#simuNoticeTextAndButtonContainer > p {
    font-family: robotoR;
    font-size: 1.2vw;
    font-weight: normal;
    text-align: justify;
    line-height: 1.2;
    color: #eaeaea;
    margin-bottom: -8%;
}

#simulatorNoticeDropcap {
    font-family: robotoB;
    font-size: 2.5vw;
    line-height: 0;
}

#sendSimulation {
    width: 100%;
    display: inline-block;
    margin: auto;
    position: relative;
}

#sendUsYourIdea {
    font-size: 1.7vw;
    text-align: center;
    padding: 2.5% 0 2% 0;
}

#simulatorIconesSideContainer {
    display: inline-block;
    width: 100%;
}

#simuIconeBackContainer {
    width: 84.7%;
    height: 0;
    padding-top: 20%;
    position: relative;
    margin: auto;
    display: inline-block;
}

#simuIconesBack {
    position: absolute;
    top: 0;
    left: 0;
}

#simuIconesContainer {
    width: 86%;
    height: 0;
    padding-top: 20%;
    position: absolute;
    margin: auto;
    display: inline-block;
    top: 12%;
    right: -1.5%;
}

#simuSprites {
    position: absolute;
    top: 0;
}

#simuRedCross {
    width: 7%;
    position: absolute;
    bottom: -80%;
    right: 12%;
    pointer-events: none;
}

#simuVideoHoverContainer {
    position: relative;
    left: 20.5%;
    margin-top: 8%;
}

#simuVideoHover {
    position: absolute;
    font-family: loveloLB;
    font-weight: normal;
    font-size: 1.57vw;
    opacity: 0;
    pointer-events: none;
}

#simuVideoUnderline {
    width: 0px;
    height: 1px;
    position: absolute;
    left: 5.15%;
    margin-top: 4.5%;
    background-color: #e63e3d;
    pointer-events: none;
}

#simuWebHoverContainer {
    position: relative;
    left: 72.1%;
    margin-top: 8%;
}

#simuWebHover {
    position: absolute;
    font-family: loveloLB;
    font-weight: normal;
    font-size: 1.57vw;
    opacity: 0;
    pointer-events: none;
}

#simuWebUnderline {
    width: 0px;
    height: 1px;
    position: absolute;
    left: 3.3%;
    margin-top: 4.5%;
    background-color: #e63e3d;
    pointer-events: none;
}

#simulatorUpDownButtons {
    width: 110%;
    position: absolute;
    bottom: -85%;
}

#simuDownArrow {
    width: 1.6%;
    height: auto;
    max-width: 100%;
    position: relative;
    left: 25%;
    margin: 87.9px 0 0 0;
}

#simuUpArrow {
    width: 1.6%;
    height: auto;
    max-width: 100%;
    position: relative;
    left: 24.4%;
    margin: 87.9px 0 0 0;
}

/*//////////////////////////*/
/* simulator details pop up */
/*//////////////////////////*/
#SDPU {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    z-index: 100;
    opacity: 0;
    display: none;
    background-color: rgba(23,23,23,0.7);
}
#SDPUbackground {
    margin: auto;
    background-color: rgba(220,220,220,0.95);
    width: 1040px;
    height: 604px;
    position: relative;
    top: 23%;
    border-radius: 10px;
}

#SDPUtitles {
    text-align: center;
    padding: 0.5px 0 0 0;
}

#SDPUtitles > h2 {
    color: #171717;
    font-family: robotoB;
    font-weight: normal;
    font-size: 42px;
    line-height: 0.4;
    font-variant: small-caps;
}

#SDPUtitles > h1 {
    color: #e63e3d;
    font-family: loveloLL;
    font-weight: normal;
    font-size: 75px;
    line-height: 0.22;
}

#closeSDPU {
    position: absolute;
    right: 17px;
    top: 17px;
    width: 55px;
    height: 55px;
    opacity: 0.9;
}

.SDPUinput {
    margin: auto;
    display: block;
    background-color: rgba(23,23,23,0.95);
    font-family: robotoR;
    font-weight: normal;
    font-size: 17px;
    color: white;
    border: 0px;
    border-radius: 10px;
}

#SDPUinputDescription {
    width: 940px;
    height: 292px;
    padding: 22px;
}

#SDPUinputContact {
    width: 644px;
    height: 32px;
    padding: 0 22px 0 22px;
    position: absolute;
    left: 28px;
}

#SDPUsendButtonText {
    width: 274px;
    font-family: loveloB;
    font-weight: normal;
    font-size: 25px;
    color: #f9f9f9;
    background-color: #e63e3d;
    position: absolute;
    right: 28px;
    top: 499.6px;
    text-align: center;
}

#SDPUsendButtonArrows {
    width: 63px;
    height: auto;
    position: relative;
    left: 948px;
    top: 21px;
    margin: 0 0 32px 0;
    opacity: 0.9;
}

/*///////////////*/
/* contact page */
/*/////////////*/
#contactTitle {
    padding: 64px 0 75px 0;
}

#contactTitle > h2 {
    font-size: 3.8vw;
    margin: 120px 0 0 0;
    padding: 0;
    line-height: 0.62;
}

#contactTitle > h3 {
    font-size: 1.8vw;
    margin: 0;
    padding: 0;
    position: relative;
    left: 69.7%;
}

#goToSimulator {
    margin: 0px;
    padding: 0px;
}

#goSimulatorArrows {
    max-width: 100%;
    position: relative;
    left: 440px;
    bottom: 50px;
    margin: -15px
}

#contactPageText1 {
    text-align: justify;
    width: 422.1px;
    font-size: 1.6em;
    margin: 4px;
}

#goSimulatorButton {
    font-size: 2.4em;
    width: 100%;
    max-width: 448px;
    margin: 0px;
    padding: 0 0 0 20px;
    height: 41.1px;
    line-height: 1.1;
}

#linkToSimuContainer {
    text-decoration: none;
}

#contactDetails {
    display: flex;
    width: 70.7%;
    margin: 39px auto 39px auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

#contactDetailsCenter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 705.9px;
}

.contactPageNormalText {
    font-family: robotoL;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
}

#contactPageText2 {
    font-size: 1.2em;
    width: auto;
    margin: 10px;
}

#at {
    font-family: arial;
    font-weight: normal;
}

.details {
    font-family: loveloB;
    font-weight: normal;
    color: white;
    font-size: 2.1em;
    line-height: 1.3em;
}

.detailsFilet {
    width: 322px;
    height: 1px;
    background-color: white;
}


#phoneNumber {
    margin: 10px 0px 0px 0px;
}

#mail {
    margin: 0px 0px 15px 0px;
}

#phoneHours {
    line-height: 0.1;
    font-size: 0.9em;
    color: rgb(150,150,150);
}

#contactPageUpButton {
    flex: 0 0 100%;
    margin: 1.14%;
}

#contactPageUpButton > a > img {
    width: 1.6%;
    height: auto;
    max-width: 100%;
    position: relative;
    left: 27.5%;
}

#disclaimer
{
    flex: 0 0 100%;
    height: 57px;
    margin: 0 0 2.4% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    flex-direction: column;
}

#disclaimer > p {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 0.8em;
}

/*////////////////////////////*/
/*////////////////////////////*/
/* querry max-width : 1500px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:1500px) {
    /*/////////////////////*/
    /* main containers 1500*/
    /*/////////////////////*/
    #topMenuContainer {
        height: 120px;
    }

    #ourWorkPageContainer {
        margin-top: 120px;
    }

    #simulatorPageContainer {
        margin-top: 0px;
        padding-top: 120px;
    }

    #contactPageContainer {
        margin-top: 0px;
        padding-top: 0px;
    }

    /*////////////////////*/
    /* our work page 1500 */
    /*////////////////////*/
    .videoContainer > h5 {
        bottom: -5%;
    }

    /*///////////////////*/
    /* contact page 1500 */
    /*///////////////////*/
    #contactTitle {
        padding-top: 10px;
    }

}

/*////////////////////////////*/
/*////////////////////////////*/
/* querry max-width : 1280px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:1280px) {
    /*/////////////////////*/
    /* main containers 1280*/
    /*/////////////////////*/
    #topMenuContainer {
        display: inline-block;
        width: 100%;
        height: 90px;
    }

    #homePageMain {
        display: inline-block;
        margin: 0px;
        width: 2000px;
        padding-bottom: 330px;
    }

    #ourWorkPageContainer {
        margin-bottom: -30px;
    }

    #simulatorPageContainer {
        padding: 100px 0 0 0;
    }

    #contactPageContainer {
        margin: -110px auto 0 auto;
    }

    /*//////////////*/
    /* top menu 1280*/
    /*//////////////*/
    #topMenu {
        width: 729.6px;
    }

    .topMenuSubContainer {
        margin-top: 5%;
    }

    .topMenuSubContainer > h2 {
        margin: 55px 5% 0 5%;
    }

    #topMenu > div > h2 > a:link {
        font-size: 15.5px;
    }

    #topMenu > div > h2 > a:visited {
        font-size: 15.5px;
    }

    #topMenu > div > h2 > a:hover {
        font-size: 15.5px;
    }

    #topMenu > div > h2 > a:active {
        font-size: 15.5px;
    }

    .videoContainer > h5 {
        bottom: -4%;
    }

    /*/////////////////*/
    /* title homePage 1280*/
    /*///////////////*/
    #leftSideHome {
        width: 721.6px;
        display: inline-block;
        margin: 0;
    }

    #rightSideHome {
        width: 500px;
        display: inline-block;
        margin: 0px;
    }

    .imgCamRight {
        width: 554px;
        height: auto;
        max-width: 100%;
        margin: 0px;
        position: absolute;
        top: 0px;
    }

    .baseline {
        font-size: 26px;
    }

    #lesSales {
        font-size: 50.2px;
    }

    #WAWbar1 {
        width: 27px;
    }

    #linkToPresentation {
        font-family: loveloB;
        font-size: 12px;
    }

    #goDownButtonHomePage {
        top: 620px;
    }

    #whoAreWePage {
        top: 0%;
        margin-top: 21%;
    }

    #unCollectif {
        font-size: 23px;
    }

    #paragraphWaw {
        font-size: 15px;
    }

    #goMainButton {
        font-size: 23px;
    }

    #mainLink {
        margin-bottom: -107px;
    }

    .imgCamRight {
        z-index: 30;
    }
    /*////////////////////*/
    /* simulator page 1280*/
    /*////////////////////*/

    /*//////////////////*/
    /* contact page 1280*/
    /*//////////////////*/
    #contactTitle {
        padding: 0px 0 40px 0;
    }

    #goSimulatorArrows {
        width: 4%;
        max-width: 100%;
        height: auto;
        left: 280px;
        bottom: 30px;
    }

    #contactPageText1 {
        width: 270px;
        font-size: 18px;
    }

    #goSimulatorButton {
        font-size: 25px;
        max-width: 300px;
        margin: 0px;
        padding: 2px 0 0 7px;
        height: 27px;
        line-height: 1.1;
    }

    #contactDetails {
        display: flex;
        width: 70.7%;
        margin: 39px auto 39px auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
    }

    #contactDetailsCenter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 705.9px;
    }

    #contactPageText2 {
        font-size: 18px;
        margin: 10px;
    }

    .details {
        font-family: loveloB;
        font-weight: normal;
        color: white;
        font-size: 32px;
        line-height: 1.0em;
    }

    .detailsFilet {
        width: 300px;
    }

    #phoneNumber {
        margin: 10px 0px 0px 0px;
    }

    #mail {
        margin: 0px 0px 15px 0px;
    }

    #phoneHours {
        line-height: 0;
        font-size: 13px;
        color: rgb(150,150,150);
    }

    #contactPageUpButton {
        flex: 0 0 100%;
        margin: 1.14%;
    }

    #contactPageUpButton > a > img {
        width: 19px;
        height: auto;
        max-width: 100%;
        position: relative;
        left: 27.5%;
    }

    #disclaimer {
        height: 47px;
    }

    #disclaimer > p {
        font-size: 0.7em;
    }
}

/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 1100px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:1100px) {

    /*//////////////////////////////*/
    /* simulator details pop up 1100*/
    /*//////////////////////////////*/
    #SDPUbackground {
        width: 750px;
        height: 435px;
        top: 17%;
    }

    #SDPUtitles > h2 {
        font-size: 35px;
    }

    #SDPUtitles > h1 {
        font-size: 50px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .SDPUinput {
        font-size: 14px;
    }

    #SDPUinputDescription {
        width: 649px;
        height: 180px;
    }

    #SDPUinputContact {
        width: 450px;
    }

    #SDPUsendButtonText {
        width: 180px;
        font-size: 22px;
        padding: 4px 0 3px 0;
        right: 28px;
        top: 342px;
    }

    #SDPUsendButtonArrows {
        width: 50px;
        height: auto;
        position: relative;
        left: 670px;
        top: 27px;
    }

}


/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 1000px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:1000px) {
    /*////////////////*/
    /* main containers 1000*/
    /*////////////////*/
    #topMenuContainer {
        display: inline-block;
        width: 100%;
        height: 90px;
    }

    #homePageMain {
        display: inline-block;
        margin: 0px;
        width: 2000px;
    }

    #simulatorPageContainer {
        margin-bottom: 0px;
        padding: 100px 0 0 0;
    }

    #contactPageContainer {
        width: 100%;
        margin: 180px auto 0 auto;
    }

    /*///////////////*/
    /* our work page 1000*/
    /*///////////////*/
    #ourWorkVignettesContainer {
        z-index: 1;
    }

    .videoContainer > h5 {
        bottom: -2%;
    }

    /*////////////////*/
    /* simulator page 1000*/
    /*////////////////*/
    #simuVideoHover, #simuWebHover {
        font-size: 2vw;
    }

    #simuVideoHoverContainer {
        margin-top: 7%;
        left: 19%;
    }

    #simuVideoUnderline {
        left: 6.8%;
        margin-top: 5.8%;
    }

    #simuWebHoverContainer {
        margin-top: 7%;
        left: 71.5%;
    }

    #simuWebUnderline {
        left: 4.5%;
        margin-top: 5.8%;
    }

    /*///////////////*/
    /* contact page 1000*/
    /*/////////////*/
    #contactTitle {
        margin: -30px auto 0 auto;
    }

    #contactTitle > h3 {
        left: 79%;
    }

    #goToSimulator {
        margin: auto;
    }

    #goSimulatorButton {
        position: relative;
        left: 1.5%;
        padding-right: 10px;
    }

    #goSimulatorArrows {
        width: 30px;
        bottom: 23px;
    }

    #contactDetails {
        width: 100%;
        margin: 39px auto 39px auto;
        align-items: center;
    }

    #contactDetailsCenter {
        width: 100%;
    }

    #contactPageUpButton {
        margin: 1.14%;
    }

    #contactPageUpButton > a > img {
        width: 20px;
        max-width: 100%;
        position: static;
        margin: auto;
        display: block;
    }

}

/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 900px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:900px) {

    /*////////////////*/
    /* main containers 900*/
    /*////////////////*/
    #topMenuContainer {
        margin: auto;
        width: 100%;
        height: 77px;
        z-index: 70;
    }

    #homePageMain {
        width: 100%;
        display: block;
        position: relative;
        background-color: #121212;
        padding-bottom: 40px;
    }

    #ourWorkPageContainer {
        margin: -50px 0 0px 0;
        width: 100%;
        padding: 90px 0 0px 0;
        display: inline-block;
    }

    #simulatorBookmark {
        height: 60px;
        margin-top: -60px;
    }

    #simulatorPageContainer {
        background-color: #121212;
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 180px;
    }

    #contactPageContainer {
        margin-top: -45px;
    }

    /*///////////*/
    /* top menu 900*/
    /*/////////*/
    #topMenu {
        width: 100%;
    }

    .topMenuSubContainer {
        margin-top: 25px;
    }

    /*/////////////////*/
    /* title homePage 900*/
    /*///////////////*/
    #leftSideHome {
        width: 100%;
        height: 500px;
    }

    #titleHomePage {
        position: relative;
        width: 100%;
        padding: 260px 0 0 0;
        margin: auto;
    }

    #whoAreWeLink {
        left: 195px;
        bottom: 25px;
        position: relative;
        margin: auto;
        display: block;
    }

    #linkToPresentation {
        right: 20px;
    }

    #rightNavArrow {
        width: 40px;
        position: relative;
        top: 0;
        left: 55px;
    }

    #whoAreWePage {
        margin-top: 120px;
    }

    .imgCamRight {
        display: none;
    }

    #goDownButtonHomePage {
        width: 20px;
        margin: 0 0 0 0;
        top: 105%;
    }

    #titleWawPage {
        margin: auto;
        width: 510px;
    }

    #unCollectif {
        display: block;
        right: 170px;
    }

    #WAWsubContainer1 {
        width: 500px;
        margin: auto;
        padding: 0;
    }

    #paragraphWaw {
        width: 500px;
        margin: 4% auto 5% auto;
    }

    #mainLink {
        margin-bottom: 0px;
    }
    /*///////////////*/
    /* our work page 900*/
    /*///////////////*/
    #ourWorkViewerSideContainer {
        width: 100%;
        height: auto;
        justify-content: center;
        text-align: center;
        margin: 17% 0 0 0;
        padding: 0;
    }

    #ourWorkTitle > h2 {
        font-size: 5vw;
    }

    #ourWorkTitle > h3 {
        font-size: 20px;
    }

    #videoPlayer {
        width: 85%;
        margin: 10px auto 0px auto;
        padding: 0;
        padding: 47.8% 0 0 0;
    }

    #playButton {
        visibility: hidden;
        display: none;
    }

    #pauseButton {
        visibility: hidden;
        display: none;
    }

    #webPicturesContainer {
        width: 85%;
        margin: 10px auto 0px auto;
        padding: 0 0 8.4% 0;
    }

    #arrowsWebPlayer {
        height: 100%;
    }

    #simuPageDownArrow {
        display: none;
    }

    #simuPageUpArrow {
        display: none;
    }

    #ArrowsInf900px {
        display: block;
        width: 50px;
        margin: auto;
        padding-bottom: 10px;
    }

    #simuPageDownArrowInf900px {
        width: 20px;
        height: auto;
        display: inline-block;
        margin: 0;
        margin-left: 5px;
    }

    #simuPageUpArrowInf900px {
        width: 20px;
        height: auto;
        display: inline-block;
        margin-left: -10px;
    }

    #ourWorkSwitchContainer {
        margin: 1% 0 0.2% 0;
    }

    .showreelSwitchSubContainer {
        width: auto;
    }

    #webSwitch {
        margin-top: 0%;
    }

    .ourWorkSwitch {
        display: inline-block;
        margin: 2% 10px 2% 10px;
        font-size: 4.5vw;
    }

    #ourWorkVignettesContainer {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .videoContainer > h5 {
        font-size: 3vw;
        left: 4%;
        bottom: -11%;
    }

    .videoContainer {
        position: relative;
        flex: 0 0 45%;
        margin: 0 2.5% 0 2.5%;
    }

    /*////////////////*/
    /* simulator page 900*/
    /*////////////////*/
    #simulatorTitle > h3 {
        font-size: 16.5px;
    }

    #simuNoticeTextAndButtonContainer {
        width: 100%;
        margin-left : 0;
    }

    #simuNoticeTextAndButtonContainer > p {
        font-size: 11px;
    }

    #simulatorNoticeDropcap {
        font-size: 22px;
    }

    #sendUsYourIdea {
        font-size : 15px;
    }

    #simulatorUpDownButtons {
        width: 50px;
        top: 0%;
        display: block;
        position: relative;
        right: 8px;
        margin: auto;
    }

    #simuDownArrow, #simuUpArrow {
        margin-top: 200%;
        width: 21px;
        position: absolute;
    }

    #simuDownArrow {
        right: 30px;
    }

    #simuUpArrow {
        left: 27px;
    }

    /*///////////////*/
    /* contact page 900*/
    /*/////////////*/
    #contactTitle {
        margin: -30px auto 0 auto;
    }

    #contactTitle > h2 {
        font-size: 34.5px;
    }
    
    #contactTitle > h3 {
        left: 79%;
        font-size: 16.5px;
    }

    .details {
        font-size: 26px;
    }
}

/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 800px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:800px) {
    /*///////////////////*/
    /* our work page 800 */
    /*///////////////////*/
    .videoContainer > h5 {
        bottom: -9.5%;
    }

    /*////////////////*/
    /* simulator page 800*/
    /*////////////////*/
    #simuDownArrow, #simuUpArrow {
        margin-top: 170%;
    }


    /*/////////////////////////////*/
    /* simulator details pop up 800*/
    /*/////////////////////////////*/
    #SDPUbackground {
        width: 370px;
        height: 351px;
        top: 15%;
    }

    #SDPUtitles > h2 {
        font-size: 17px;
        margin-top: 20px;
    }

    #SDPUtitles > h1 {
        font-size: 25px;
        margin-right: 10px;
        margin-left: 10px;
    }

    #closeSDPU {
        right: 7px;
        top: 7px;
        width: 34px;
        height: 34px;
    }

    .SDPUinput {
        font-size: 11px;
    }

    #SDPUinputDescription {
        width: 300px;
        height: 180px;
        padding: 12px;
        margin-bottom: -10px;
    }

    #SDPUinputContact {
        width: 310px;
        height: 27px;
        padding: 0 0 0 12px;
        position: relative;
        left: 0px;
        margin: auto;
        margin-bottom: 8px;
    }

    #SDPUsendButtonText {
        width: 180px;
        font-size: 16.5px;
        padding: 4px 0 3px 0;
        right: 28px;
        top: 342px;
        position: relative;
        right: 0px;
        top: 0px;
        margin: auto;
        border-radius: 10px;
    }

    #SDPUsendButtonArrows {
        display: none;
    }

}

/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 700px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:700px) {
    /*////////////////////*/
    /* main containers 700*/
    /*////////////////////*/
    #simulatorPageContainer {
        padding-bottom: 160px;
    }

    /*///////////////////*/
    /* simulator page 700*/
    /*///////////////////*/
    #simuNoticeTextAndButtonContainer {
        width: 100%;
        margin-top: 0;
    }

    #simuVideoHover, #simuWebHover {
        font-family: loveloB;
        font-size: 2.5vw;
    }

    #simuVideoHoverContainer {
        margin-top: 6%;
        left: 19%;
    }

    #simuVideoUnderline {
        left: 8.2%;
        margin-top: 7.3%;
    }

    #simuWebHoverContainer {
        margin-top: 6%;
        left: 71.5%;
    }

    #simuWebUnderline {
        left: 5.2%;
        margin-top: 7.3%;
    }

    #simuDownArrow, #simuUpArrow {
        margin-top: 140%;
    }

    /*///////////////*/
    /* contact page 700*/
    /*/////////////*/
    #contactTitle > h2 {
        font-size: 4.7vw;
    }

    #contactTitle > h3 {
        text-align: right;
        left: 0;
        margin-bottom: -3%;
    }

    #contactPageText1 {
        font-size: 13.9px;
        margin: auto;
        width: 55%;
    }

    #goSimulatorButton {
        width: 55%;
        max-width: 1920px;
        height: 20px;
        text-align: center;
        margin: 3px auto 8px auto;
        padding: 0;
        left: 0;
        font-size: 18px;
    }

    #goSimulatorArrows {
        left: 90%;
        bottom: 30%;
        width: 22px;
        display: none;
    }

    #contactDetails {
        margin: 9% auto 7% auto;
    }

    #contactPageText2 {
        width: 76%;
        max-width: 400px;
        font-size: 13.9px;
        text-align: center;
    }

    .detailsFilet {
        width: 230px;
    }

    #mail {
        font-size: 20px;
    }

    .videoContainer > h5 {
        bottom: -8.5%;
    }

}

/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 600px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:600px) {
    /*////////////////////*/
    /* main containers 600*/
    /*////////////////////*/
    #topMenuContainer {
        height: 50px;
    }

    #ourWorkPageContainer {
        margin-top: -30px;
        padding-top: 60px;
    }

    #simulatorPageContainer {
        padding-bottom: 140px;
    }

    #contactPageContainer {
        margin-top: -30px;
    }

    /*///////////*/
    /* top menu 600*/
    /*/////////*/






    /*provisoire*/
    .TopMenuUnderline {
        display: none;
    }
    /*provisoire*/





    #topMenu > div > h2 {
        margin: -14px 0 0 0;
    }

    #topMenu > div > h2 > a:link {
        font-size: 11px;
    }

    #topMenu > div > h2 > a:visited {
        font-size: 11px;
    }

    #topMenu > div > h2 > a:hover {
        font-size: 11px;
    }

    #topMenu > div > h2 > a:active {
        font-size: 11px;
    }

    /*/////////////////*/
    /* title homePage 600*/
    /*///////////////*/
    .baseline {
        font-size: 17px;
    }

    #titleHomePage > h1 {
        font-size: 32.7px;
    }

    #whoAreWeLink {
        left: 138px;
        bottom: 16px;
    }

    #WAWbar1 {
        width: 21px;
    }

    #linkToPresentation {
        font-size: 9.5px;
        right: 16px;
    }

    #rightNavArrow {
        display: none;
    }

    #whoAreWePage {
        margin-top: 90px;
    }

    #titleWawPage {
        width: auto;
    }

    #titleWawPage > h1 {
        font-size: 30px;
    }

    #unCollectif {
        font-size: 16.5px;
        right: 93px;
    }

    #WAWsubContainer1 {
        width: auto;
    }

    #paragraphWaw {
        width: 300px;
        font-size: 13px;
        margin: 17px auto 21px auto;
    }

    #goMainButton {
        margin: auto;
        width: 300px;
        font-size: 20px;
    }

    #leftNavArrow {
        display: none;
    }
    /*//////////////////*/
    /* our work page 600*/
    /*//////////////////*/

    /*///////////////////*/
    /* simulator page 600*/
    /*///////////////////*/
    #simuDownArrow, #simuUpArrow {
        margin-top: 110%;
    }

    /*/////////////////*/
    /* contact page 600*/
    /*/////////////////*/
    #contactTitle > h2 {
        margin-top: 90px;
    }
}

/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 500px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:500px) {
    /*////////////////////*/
    /* main containers 500*/
    /*////////////////////*/
    #simulatorPageContainer {
        padding-bottom: 200px;
    }

    #simulatorBookmark {
        height: 30px;
        margin-top: -30px;
    }

    /*///////////////////*/
    /* simulator page 500*/
    /*///////////////////*/
    #simulatorTitle {
        padding-top: 7px;
    }

    #simuIconesBack {
        top: 40%;
    }

    #simuNoticeTextAndButtonContainer {
        width: 480%;
        margin-top: -17px;
    }

    #sendUsYourIdea {
        margin-top: 50%;
        padding: 0.5% 0 0.3% 0;
    }

    #simuNoticeBack {
        display: none;
    }

    #simuIconesContainer {
        width: 100%;
        top: 45px;
        right: 0%;
        z-index: 2;
    }

    #simuVideoHoverContainer {
        margin-top: 9%;
        left: 19%;
    }

    #simuVideoHover {
        font-family: loveloB;
        font-size: 3vw;
    }

    #simuVideoUnderline {
        left: 8.5%;
        margin-top: 7.5%;
    }

    #simuWebHoverContainer {
        margin-top: 9%;
        left: 71.5%;
    }

    #simuWebHover {
        font-family: loveloB;
        font-size: 3vw;
    }

    #simuWebUnderline {
        left: 5.5%;
        margin-top: 7.5%;
    }

    #simulatorUpDownButtons {
        z-index: 2;
    }

    #simuDownArrow, #simuUpArrow {
        margin-top: 250%;
    }

    /*/////////////////*/
    /* contact page 500*/
    /*/////////////////*/
    #contactTitle > h2 {
        margin-top: 85px;
    }

}


/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 400px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:400px) {
    /*///////////*/
    /* top menu 400*/
    /*/////////*/
    #topMenu > div > h2 > a:link {
        font-size: 8.5px;
    }

    #topMenu > div > h2 > a:visited {
        font-size: 8.5px;
    }

    #topMenu > div > h2 > a:hover {
        font-size: 8.5px;
    }

    #topMenu > div > h2 > a:active {
        font-size: 8.5px;
    }

    /*/////////////////*/
    /* title homePage 400*/
    /*///////////////*/
    .baseline {
        font-size: 12.75px;
        font-family: robotoL;
        text-transform: uppercase;
    }

    .down {
        position: relative;
        right: 27px;
    }

    #titleHomePage > h1 {
        font-size: 24px;
    }

    #whoAreWeLink {
        left: 87px;
        bottom: 12px;
    }

    #WAWbar1 {
        width: 17px;
    }

    #linkToPresentation {
        font-size: 9.5px;
        right: 16px;
    }

    #unCollectif {
        font-family: loveloLL;
        right: 73px;
    }

    #whoAreWePage {
        margin-top: 74px;
    }

    #titleWawPage > h1 {
        font-size: 26px;
    }

    #paragraphWaw {
        width: 255px;
    }

    #goMainButton {
        margin: auto;
        width: 255px;
        font-size: 17px;
    }

    /*///////////////////*/
    /* our work page 400 */
    /*///////////////////*/
    .videoContainer > h5 {
        font-size: 3.3vw;
        bottom: -5%;
    }

    /*///////////////////*/
    /* simulator page 400*/
    /*///////////////////*/
    #simulatorTitle {
        padding-top: 5px;
    }

    #simulatorTitle > h3 {
        font-family: loveloB;
        font-size: 2.7vw;
    }

    #simuNoticeTextAndButtonContainer {
        margin-top: -7px;
    }

    #simuNoticeTextAndButtonContainer > p {
        font-size: 12px;
    }

    #simulatorNoticeDropcap {
        font-size: 20px;
    }

    #sendUsYourIdea {
        margin-top: 53%;
    }

    #simuDownArrow, #simuUpArrow {
        margin-top: 270%;
    }

    #simuIconesBack {
        top: 106%;
    }

    #simuIconesContainer {
        top: 107%;
    }

    /*/////////////////////////////*/
    /* simulator details pop up 400*/
    /*/////////////////////////////*/
    #SDPUbackground {
        width: 260px;
        height: 342px;
        top: 15%;
    }

    #SDPUtitles > h2 {
        font-size: 12px;
        margin-top: 15px;
    }

    #SDPUtitles > h1 {
        font-size: 22px;
        margin-right: 10px;
        margin-left: 10px;
    }

    #closeSDPU {
        right: 7px;
        top: 7px;
        width: 22px;
        height: 22px;
    }

    .SDPUinput {
        font-size: 11px;
    }

    #SDPUinputDescription {
        width: 220px;
        height: 180px;
        padding: 12px;
        margin-bottom: -10px;
    }

    #SDPUinputContact {
        width: 230px;
        height: 27px;
        padding: 0 0 0 12px;
        position: relative;
        left: 0px;
        margin: auto;
        margin-bottom: 8px;
    }

    #SDPUsendButtonText {
        width: 180px;
        font-size: 16.5px;
        padding: 4px 0 3px 0;
        right: 28px;
        top: 342px;
        position: relative;
        right: 0px;
        top: 0px;
        margin: auto;
        border-radius: 10px;
    }

    #SDPUsendButtonArrows {
        display: none;
    }

    /*/////////////////*/
    /* contact page 400*/
    /*/////////////////*/
    #contactTitle > h3 {
        font-family: loveloB;
        font-size: 11px;
        margin-bottom: -10%;
        margin-top: 1px;
    }

    #contactPageText1 {
        font-size: 11px;
        min-width: 185px;
    }

    #goSimulatorButton {
        font-size: 16px;
        height: 18px;
        min-width: 185px;
    }

    #contactPageText2 {
        font-size: 11px;
        width: 70%;
        max-width: 100%;
        margin: auto 0 auto 0;
        margin-bottom: 1px;
    }

    .detailsFilet {
        width: 185px;
    }

    #phoneNumber {
        font-size: 20px;
    }

    #phoneHours {
        font-size: 11px;
    }

    #mail {
        font-size: 14px;
    }
}

/*//////////////////////////*/
/*//////////////////////////*/
/* querry max-width : 280px */
/*//////////////////////////*/
/*//////////////////////////*/
@media screen and (max-width:280px) {
    /*////////////////////*/
    /* main containers 280*/
    /*////////////////////*/
    #homePageMain {
        padding-bottom: 0;
    }

    /*///////////////////*/
    /* title homePage 280*/
    /*///////////////////*/
    #leftSideHome {
        height: auto;
    }

    #titleHomePage {
        padding-top: 130px;
    }

    #goDownButtonHomePage {
        position: static;
        margin-top: 40px;
    }

    #whoAreWePage {
        margin-top: 70px;
    }

    /*///////////////////*/
    /* our work page 280 */
    /*///////////////////*/
    .videoContainer > h5 {
        font-size: 3.5vw;
        bottom: -3.7%;
    }

    /*/////////////////////////////*/
    /* simulator details pop up 280*/
    /*/////////////////////////////*/
    #SDPUbackground {
        width: 270px;
        height: 270px;
        top: 5px;
    }

    #SDPUtitles > h2 {
        font-size: 12px;
        margin-top: 15px;
    }

    #SDPUtitles > h1 {
        font-size: 22px;
        margin-right: 10px;
        margin-left: 10px;
    }

    #closeSDPU {
        right: 7px;
        top: 7px;
        width: 22px;
        height: 22px;
    }

    .SDPUinput {
        font-size: 11px;
    }

    #SDPUinputDescription {
        width: 220px;
        height: 113px;
        padding: 12px;
        margin-bottom: -10px;
    }

    #SDPUinputContact {
        width: 230px;
        height: 27px;
        padding: 0 0 0 12px;
        position: relative;
        left: 0px;
        margin: auto;
        margin-bottom: 8px;
    }

    #SDPUsendButtonText {
        width: 180px;
        font-size: 16.5px;
        padding: 4px 0 3px 0;
        right: 28px;
        top: 342px;
        position: relative;
        right: 0px;
        top: 0px;
        margin: auto;
        border-radius: 10px;
    }

    #SDPUsendButtonArrows {
        display: none;
    }

}

/*//////////*/
/* no select*/
/*//////////*/

    .noSelect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -html-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }